h1{
    color: #900C3F;
  font-size:30px; 
  font-weight:400;
  font-family:italic;
 text-align:start;
 text-decoration: underline black;
 font-style: italic;
 }

*{
    margin:3px;
    padding:2px;
    box-sizing: border-box;
}

header{
background-color:white;
position: relative;
padding:0%;

}



  .color{
    color:darkred;
   
  }
 
  .colore{
    color: gold;
  }

  .tipografia{
  font-family: "Edu QLD Beginner",cursive;
  font-optical-sizing:auto;
  font-weight:600;

}



nav ul li {
  list-style-type: circle;
}

section{
  margin: 70px;

}

.Contenedor_padre{
  max-width: 1000px;
  background-color: darkred;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content:space-between ;


}


.card{ 
background-color: rgb(68, 5, 5);
width: 500px;
border: 8px solid black ;
border-radius:5px;
margin-left:30px;
margin-top: 40px ;
margin-bottom: 70px; 
padding: 10px;
text-align: center;
}



.contenedor_limite{
background-color:rgb(68, 5, 5);
max-width: 700px;




}

.card img{
max-width: 100%;

}

footer{
background-color: #4e011f;


}

/*-----------media query--------*/
@media screen and (max-width: 520px){

   body{
      background-color: white;
   }

  }
/*--------- Grilla------*/

.parent {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 5px;
grid-row-gap: 6px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div1 img{
width: 100%;

}
.div2 { grid-area: 1 / 2 / 2 / 3; }

.div3 { grid-area: 2 / 1 / 3 / 2; }

.div4 { grid-area: 2 / 2 / 3 / 3; }
nav a{
   text-decoration:none ;
   color: black;
   
}
nav a:hover{
  color: rgb(87, 12, 12);
  background-color: rgb(255, 253, 127);
  border: 1px solid ;
  border-radius: 10px ;
}

h1:hover{
transform: scale(5);
transform: translate(10px, 0px);

}
